/* IMAGES */

#onshape {
    width: 200px;
}

#solaire {
    width:250px;
}

#helice {
    width: 200px;
}

#moteur {
    width: 150px;
}

#radio {
    width: 250px;
}

#onshape-assemblage {
    width:400px;
}

#coque-imprimee {
    width:300px;
}

#montage-moteurs {
    width:250px;
}

#gros-plan-ensemble {
    width:300px;
}

figcaption {
    text-align: center;
    font-style: italic;
}

#conclusion {
    text-align:justify;
}