/* header */
#hive-logo {
    height: 100px;
    width:auto;
    vertical-align: middle; /* Centre le logo verticalement par rapport au texte */
    margin-right: 10px; /* Espace entre le logo et le texte */
    float: left; /* Aligne le logo à gauche */
}

/* Retour à l'acceuil */


/* IMAGES */

#onshape {
    width: 200px;
}

#intérieur {

}

#eolienne {

}

#moteur {
    width: 400px;
}

#test {

}

#electronique {
    width: 300px;
}